$base-font-size: 16;

@function em($pixels, $dens: 1) {
  @return $pixels / $base-font-size / $dens * 1em;
}

.rev-widget {
  font-family: sans-serif;
  border: black solid 1px;
  width: 100%;
  height: 100%;
  background: radial-gradient(#2978f7,#0550c7);
  color: #fff;
  display: flex;
  flex-direction: column;

  .rev-string {
    opacity: 0.7;
    font-size: em(12);
  }

  .rev-currency {
    font-size: em(27);
    margin: em(5) 0;
  }

  .rev-switcher {
    text-align: center;
    margin: em(20) 0 0 0;

    span {
      font-size: em(20);
      opacity: 0.5;
      margin: 0 em(2);
      cursor: pointer;

      &.rev-selected {
        opacity: 1.0;
      }
    }
  }

  .rev-input {
    margin: em(5) 0;
    input {
      font-size: em(25);
      outline: none;
      border: none;
      text-align: right;
      width: 100%;
      background: none;
      color: white;
    }
  }

  .rev-button {
    font-size: em(13);
    cursor: pointer;

    &.rev-button--disabled {
      opacity: 0.5;
    }
  }

  .rev-select {
    position: relative;
    background: rgba(0,0,0,0.3);
    border-radius: em(7);
    border: rgba(255,255,255,0.3) solid 1px;
    padding: em(5) em(17) em(5) em(7);
    font-size: em(14);
    cursor: pointer;

    i {
      position: absolute;
      right: em(5);
      top: 50%;
      transform: translate(0%, -50%);
      display: block;
      width: 0;
      height: 0;
      border-left: em(4) solid transparent;
      border-right: em(4) solid transparent;

      border-top: em(4) solid #fff;
    }
  }

  .rev-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: em(5);
  }

  .rev-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: em(20) 0 em(15) 0;

    &.rev-card--to {
      background: rgba(0,0,0,0.2);
    }
  }

  .rev-row {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .rev-row__right {
      max-width: 50%;
      text-align: right;
    }
  }
}


